@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Roboto+Condensed:wght@400;700&family=Tektur:wght@500;700;800&display=swap');

body { overflow-x: hidden; }

*{  /* Zerando a estilização padrão do navegador*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
}

html{

    width: 100%;
    height: 100%;
    font-size: 62%;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    background-image: linear-gradient(rgba(14, 13, 13, 0.8),rgba(14, 13, 13, 0.5), rgba(14, 13, 13, 0.8)),url(./img/fundo.jpg);
}

.content{

    width: 100%;
    height: 50px;
    background-color: #0c0c0c;
    display: flex;
    position: absolute;  
}

.content .logo img{

    width: 45px;
    height: auto;
    margin-left: 3rem;
    align-items: center;   
}

.content .barra{

    width: 500px;
    margin-left: 38rem;
    display: flex;

}

.content .list-menu{

    width: 565px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 13rem;
}


.content .list-menu li a{

    font-family: 'Roboto Condensed';
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    transition: all 200ms ease-in;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    margin-left: 2rem;
}

.content .list-menu li a:hover{

    background-color: #2b2929;
    border-bottom: 2px solid white;
    color:white;
}

.cont{

    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cont img{

    width: 620px;
    height: auto;
    display: flex;
    padding-top: 15rem;
    padding-right: 12rem; 
}

.text h2{

    display: flex;
    text-align: center;
    padding-top: 25rem;
    font-size: 5.5rem;
    font-family: 'Tektur';
    padding-left: 10rem;
    position: absolute;
}

.text h3{

    display: flex;
    text-align: center;
    padding-top: 42.5rem;
    font-size: 2rem;
    font-family: 'Gruppo';
    padding-left: 21rem;
    position: absolute;
    color: black;
}

.text .tira{

    width: 5px;
    height: auto;  
}

.text .tira img{

    width: 770px;
    height: 30px;
    margin-top: 42rem;
    position: absolute;

}

/*SOBRE*/

.cont2{

    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cont2 img{

    width: 620px;
    height: auto;
    display: flex;
    padding-top: 15rem;
    padding-right: 12rem; 
}

.text2 h2{

    display: flex;
    text-align: center;
    padding-top: 20rem;
    font-size: 5rem;
    font-family: 'Tektur';
    padding-left: 23rem;
    position: absolute;
    color: white;
}

.text2 .tira2{

    width: 5px;
    height: auto;  
}

.text2 .tira2 img{

    width: 770px;
    height: 30px;
    margin-top: 42rem;
    position: absolute;

}

.text2 h3{

    display: flex;
    text-align: center;
    padding-top: 30rem;
    font-size: 2.5rem;
    font-family: 'Gruppo';
    padding-left: 10rem;
    position: absolute;
    color: white;


}

/*CONTATOS*/

.cont6 img{

    width: 550px;
    height: auto;
    display: flex;
    padding-top: 10rem;
}

.contatos h1{

    padding-top: 10rem;
    display: flex;
    align-items: center;
    padding-left: 17rem; 
    font-size: 7.5rem;
    font-family: 'Tektur';
    color: white;
}

.tira6 img.um{

    width: 770px;
    height: 30px;
    margin-top: 8rem;
    position: absolute;
}

.tira6 img.dois{

    width: 770px;
    height: 30px;
    margin-top: 18rem;
    position: absolute;
}

.tira6 img.tres{

    width: 770px;
    height: 30px;
    margin-top: 28rem;
    position: absolute;
}

.link1 h3{

    color: black;
    padding-top: 8rem;
    padding-left: 29rem;
    font-size: 2rem;
    font-family: 'Tektur';
    position: absolute;  
}

.link2 h4{

    color: black;
    padding-top: 18rem;
    padding-left: 27rem;
    font-size: 2rem;
    font-family: 'Tektur';
    position: absolute;  
}

.link3 h5{

    color: black;
    padding-top: 28rem;
    padding-left: 28rem;
    font-size: 2rem;
    font-family: 'Tektur';
    position: absolute;  
}

.link1 p{

    color: white;
    padding-top: 13rem;
    padding-left: 19rem;
    font-size: 2rem;
    font-family: 'Tektur';
    position: absolute;
}

.link2 p1{

    color: white;
    padding-top: 23rem;
    padding-left: 24rem;
    font-size: 2rem;
    font-family: 'Tektur';
    position: absolute;
}

.link3 p2{

    color: white;
    padding-top: 32rem;
    padding-left: 22rem;
    font-size: 2rem;
    font-family: 'Tektur';
    position: absolute;
}

















